# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Git
# ==========================
*.swp
*.swo
*~

# ==========================
# Cache
# ==========================
.cache/
__pycache__/
*.pyc

# ==========================
# Node
# ==========================
node_modules/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Secrets
# ==========================
.env
.env.*
*.pem
*.key
id_rsa
id_ed25519

# ==========================
# SSH
# ==========================
known_hosts
authorized_keys

# ==========================
# Temporary
# ==========================
tmp/