# OS
.DS_Store
Thumbs.db

# Vim
*.swp
*.swo

# Editor
.vscode/
.idea/

# Logs
*.log

# Cache
.cache/
tmp/

# Neovim
**/lazy-lock.json

# Shell history
.zsh_history
.bash_history

# Secrets
.env
.env.*
*.pem
*.key
*.crt

# GitHub CLI
.config/gh/hosts.yml

# SSH
.ssh/

# Backup folders
.dotfiles-backup/

# Python
__pycache__/
*.pyc